body {
  font: size 1rem;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 40px;
}
p {
  border: 1px solid crimson;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  min-height: 100px;
  margin: 0 auto; /*horizontal centering*/
  /* padding-left: 20px;
  padding-bottom: 30px; */
  /* T R B L */
  /* padding: 30px 20px 30px 20px; */
  padding: 20px
  margin-bottom: 20px;
}
.vcenter {
  line-height: 260px;
  /* height 300 padding 20 300-20-20 */
}
span {
    color: blueviolet;
}

