body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #88cb6e;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seeds-container {
  width: 140px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.knife-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

button {
  background-color: #88cb6e;
  border-style: none;
}

#game-container {
  width: 1000px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 4;
}
